.jumbotron {
  background-color: #eee7fb;
  color: #495057;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  background-color: #f8f9fa;
}

h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	margin-top: 30px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  /* letter-spacing: 3px; */
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 700;
}

.navbar-nav li a:hover {
  color: rgb(255 188 0 / 1) !important;
}

a.fab {color: #495057};

/* TO-DO: use icons for; education: <i class="fas fa-graduation-cap"></i>  */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 90%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.award {
  margin-top: 30px;
  list-style-type: none;
  position: relative;
}


ul.award > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.award > li:before {
    content: "\f091";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
   -webkit-font-smoothing: antialiased;
    z-index: 400;
    position: absolute;
    left: 10px;
    color: orange;
}

